{
  "endOfLine": "lf",
  "semi": false,
  "singleQuote": false,
  "singleAttributePerLine": true,
  "bracketSameLine": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "^(next/(.*)$)|^(next$)",
    "<THIRD_PARTY_MODULES>",
    "^@/types/(.*)$",
    "^@/lib/(.*)$",
    "^@/hooks/(.*)$",
    "^@/components/(.*)$",
    "^@/app/(.*)$",
    "^[./]",
    "^lucide-react|react-icons/(.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "tailwindFunctions": ["clsx", "tw"],
  "tailwindPreserveWhitespace": true,
  "tailwindPreserveDuplicates": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
